<div class="music-controls">
    <ion-grid>
        <ion-row class="music-button-row">
            <ion-col>
                <button color="light" ion-button icon-only>
                    <ion-icon name="skip-backward"></ion-icon>
                </button>
            </ion-col>

            <ion-col>
                <button color="light" ion-button icon-only>
                    <ion-icon *ngIf="currentTrack.track.playing" name="pause"></ion-icon>
                    <ion-icon *ngIf="!currentTrack.track.playing" name="play"></ion-icon>
                </button>
            </ion-col>

            <ion-col>
                <button color="light" ion-button icon-only>
                    <ion-icon name="skip-forward"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <p>{{currentTrack.track.show.title}}</p>
        </ion-row>
    </ion-grid>
</div>