page-shows{

    shrinking-segment-header {

        background-color: #363636;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            width: auto;
            height: auto;
        }

        
    }

    ion-footer{
        background-color: #ffffff;
    }
        
}

